.popup-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrap{
    background-color: #414a58;
    color: #b6c2cf;
}