.input-filed-wrap{
    width: 100%;
}
.input-filed-wrap textarea {
    border-radius: 9px;
    outline: none;
    background-color:#22272bd3;
    padding: 6px;
    color: #89959e;
    font-size: 1rem;
    /* border-color: red; */
}